$base-font: 'Montserrat', sans-serif;
$primary-color: #ba1818 !default;
$blue-color:#3F4974 !default;
$color-pink:#B52F72 !default;
$color-orange: #BE6B40 !default;
$color-grey: #8B908A !default;
$bg-light-pink:#FFF8F8 !default;
//$secondary-color: #3AB9F0 !default;
$secondary-color: #9c3a17 !default;
$tertiary-color: #FF9850 !default;
$success-color: #39B933 !default;
$yellow-color: #F5C657 !default;
$default-color: #D3D6D9 !default;
$danger-color: #BA1818 !default;
$warning-color: #E98A2E !default;
$color-blue: #0F89D5 !default;
$base-text-color: #333333;
$card-title-color: #333333;
$secondary-text-color: #ADB0B3; //grey text color or grey icon color
$base-grey: #F0F3F4;
$stroke-color: #999;
$light-grey: #F6F8F8;
$title-color: #3F4041;
$grey-icon-color: #D3D6D8;
$table-heading-color: #898C8E;
$border-color: #dc3545 !default;
$menu-hover-bg: rgba(0,0,0,0.2);

$base-font-size: 16px;
$default-border-radius: 5px !default;
$card-section-padding: 0 20px;
$card-title-padding: 15px 20px;

$input-font-size: 14px;
$input-label-color: #666 !default;
$input-border-color: #EBEEEF !default;
$input-label-zindex: 2;
$input-label-font-weight: 300;
$base-input-padding: 10px 12px;
$checkbox-bg: #fff;
$input-focus-color: #9d9d9d;

$card-bottom-spacing: 10px;

$task-stat-color-1: #34BEB9;
$task-stat-color-2: #ED9F40;
$task-stat-color-3: #6A76AC;
$task-stat-color-4: #DA3D34;
$task-stat-color-5: #256EFF;
$incident-cat-color-1: #FF9850;
$incident-cat-color-2: #FF6CA3;
$incident-cat-color-3: #A3A0FB;
$incident-cat-color-4: #17C357;
$incident-cat-color-5: #9D8189;
$incident-cat-color-5: #cf5d5d;

$sidebar-text-color:#999999;
$pillpanle-text-active:#000000;
$bg-grey: #F3F6F9;
$student-download-link:#2d11c5;
$text-purple-result:#7E89B9;
$colorSet1: #F2217B,#FF7701,#FFD541,#02D0F7,#0295FF,#00DEA3,#3FAA48,#F178B5,#D9C964,#A15F83;
