.scorecard-ytd {
    .card {
        .card-body {
            .ic-bg {
                width: rem(30px);
                height: rem(30px);
                background: #F3F6F9 !important;
            }
        }
    }
}

