@font-face {
    font-family: "B Elham";
    src: fontPath("BElham.eot?", font/arabic) format("eot"),
         fontPath("BElham.woff", font/arabic) format("woff"),
         fontPath("BElham.ttf", font/arabic) format("truetype"),
         fontPath("BElham.svg#BElham", font/arabic) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GE SS Two Light";
    src: fontPath("GE_SS_Two_Light.eot?", font/arabic) format("eot"),
         fontPath("GE_SS_Two_Light.woff", font/arabic) format("woff"),
         fontPath("GE_SS_Two_Light.ttf", font/arabic) format("truetype"),
         fontPath("GE_SS_Two_Light.svg#GESSTwoLight-Light", font/arabic) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GE SS Two Medium";
    src: fontPath("GE_SS_Two_Medium.eot?", font/arabic) format("eot"),
         fontPath("GE_SS_Two_Medium.woff", font/arabic) format("woff"),
         fontPath("GE_SS_Two_Medium.ttf", font/arabic) format("truetype"),
         fontPath("GE_SS_Two_Medium.svg#GESSTwoMedium-Medium", font/arabic) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GE SS Two Bold";
    src: fontPath("GE_SS_Two_Bold.eot?", font/arabic) format("eot"),
         fontPath("GE_SS_Two_Bold.woff", font/arabic) format("woff"),
         fontPath("GE_SS_Two_Bold.ttf", font/arabic) format("truetype"),
         fontPath("GE_SS_Two_Bold.svg#GESSTwoBold-Bold", font/arabic) format("svg");
    font-weight: normal;
    font-style: normal;
}